{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}
{% block title %}Tantárgyak{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{asset('bundles/frontendsubject/css/subjects.css')}}" />
    <link rel="stylesheet" href="{{asset('css/jquery.tagsinput.css')}}" />
    <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/frontendsubject/css/uploadWindow.css')}}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/jquery.tagsinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/frontendsubject/js/Subjects.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/frontendsubject/js/UploadWindow.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           
           UploadWindow.getUploadWindowURL = "{{path('get_upload_window')}}";
           UploadWindow.uploadFILE_URL = "{{path('upload_one_file_ajax')}}";
            
           Subjects.init(); 
           UploadWindow.init(); 
        });
    </script>
{% endblock %}
    
{% block body %}
{{parent()}}
{% endblock %}

{% block bodyClass %}subjects{% endblock %}

    {% block contentHolder %}
        {{render(controller('FrontendSubjectBundle:Default:getAllSubjects', {'subject' : subject}))}}
        <div class='rightHolder'>
        {{render(controller('FrontendSubjectBundle:Default:getSubject', {'subject' : subject}))}}
        </div>
    {% endblock %}