<html>
    <head>
        <title>Jegyzetbázis - admin rendszer</title>
        <link rel="stylesheet" href="{{asset('bundles/frontendadmin/css/list.css')}}">
    </head>
    <body>
        <div class="page">
            <h2>Válaszd ki a megtekintendő adattáblát</h2>
            <ul>
                <li>
                    <a href="{{path('admin_page_subjects_u')}}">Tantárgyak</a>
                </li>
                <li>
                    <a href="{{path('admin_page_subjects_u')}}">Fájlok</a>
                </li>
                <li>
                    <a href="{{path('admin_page_school_u')}}">Iskolák</a>
                </li>
                <li>
                    <a href="{{path('admin_page_docs_u')}}">Dokumentumok</a>
                </li>
                <li>
                    <a href="{{path('admin_page_UserSettings_u')}}">Felhasználói beállítások</a>
                </li>
            </ul>
        </div>
    </body>
</html>