<div class="singleSubject">
{% if err is not defined %}
    {% if subject is not null %}
        {% if Subject is not null %}
               {# FIXME: lehetne szebben is! #}
            <script>Subjects.setActualSubjectName("{{Subject.name}}");</script>
                <div class="singleSubjectTabs">
                    <ul>
                        <li class="active"><a class="uploads">Feltöltések</a></li>
                        <li><a class="infos">Tantárgy információk</a></li>
                    </ul>
                </div>
                <div class="singleSubjectContent">
                    <div class="uploads">
                        {% if Files is defined and Files is not null %}
                            {% for file in Files %}
                               <img src="{{image(file.getWebPath()).zoomCrop(100,100)}}">({{file.uploadTime | date('Y-m-d h:s:i')}})
                               [Feltöltő : {% if file.user.userSettings is not null %}{{file.user.username}}{% else %}{{file.user.userSettings.name}}{% endif %}]
                               <br>
                            {% endfor %}
                        {% else %}
                            <pre><<<< válassz tantárgyat</pre>
                        {% endif %}
                    </div>
                    <div class="infos" style="display:none">
                        <h2>Tantárgy információk</h2>
                        <table>
                            <tr>
                                <th>Tantárgy neve</th>
                                <td>{{Subject.getName()}}</td>
                            </tr>
                            <tr>
                                <th>Tantárgy létrejötte</th>
                                <td>{{Subject.getInsertDate() | date('Y-m-d h:s:i')}}</td>
                            </tr>
                            <tr>
                                <th>Tantárgy frissítési ideje</th>
                                <td>
                                    {% if Subject.getUpdateDate() is not null %}
                                        {{Subject.getUpdateDate() | date('Y-m-d h:s:i')}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Tantárgy Tulajdonosa
                                </th>
                                <td>
                                    {% if Subject.getUser() is not null %}
                                    <a href='#'>{{Subject.getUser().getUserSettings().getName()}}</a>
                                    {% else %}
                                        Ismeretlen
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        {% else %}
            <div class='err'>Hibás tantárgy lekérdezés a '{{subject}}' url-re</div>
        {% endif %}
    {% else %}
        <div class='err'>Nincs tárgy kiválasztva</div>
    {% endif %}
{% else %}
    <div class='err'>Hiba: {{err}}</div>
{% endif %}
</div>