<div class="uploads">
    <div class="uploadsHeader">
        <div class="leftHolder">
            Baloldal
        </div>
        <div class="paginator">
            {{ knp_pagination_render(Files) }}
        </div>
        <div class="rightHolder">
            <select class="sortBy">
                <option value="showNew">Mutasd az újakat</option>
                <option value="showOld">Mutasd a régieket</option>
                <option value="showNameAsc">Rendezd név szerint(növekvő)</option>
                <option value="showNameDesc">Rendezd név szerint(csökkenő)</option>
            </select>
        </div>
    </div>
    
    {% if Files is defined and Files is not null %}
        <table class="subject-files">
            <tr>
                <th>Fájl név</th>
                <th>Fájl</th>
                <th>Feltöltés dátuma</th>
                <th>Feltöltő</th>
            </tr>
        {% for file in Files %}
            <tr onclick="location.href='http://example'">
                <td>{{file.getName}}</td>
                <td><img src="{{image(getImageByPath(file.getWebPath()))}}" width="140" height="140"></td>
                <td>{{file.uploadTime | date('Y-m-d h:s:i')}}</td>
                <td><a href="{{path('profile_show', {id : file.user.id})}}">{% if file.user.userSettings is not null %}{{file.user.userSettings.getName()}}{% else %}{{file.user.userSettings.name}}{% endif %}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <pre><<<< válassz tantárgyat</pre>
    {% endif %}
</div>