<div class="friend-button-holder">
{% if FriendsObject is null %}
    <button class="friend-mark-button add friendMarking btn btn-default" type="select" userid="{{ViewedUser.id}}">Barátnak jelölés</button>
{% else %}
    {% if FriendsObject.getStatus() == 'active' %}
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Barátod <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><a href="javascript:void(0)" class="friendMarking" userid="{{ViewedUser.id}}" type="reject">Nem a barátom</a></li>
          </ul>
        </div>  
    {% elseif FriendsObject.getStatus() == 'rejected' or FriendsObject.getStatus() == 'selected-rejected'  %}
        <button class="friend-mark-button add friendMarking" type="select" userid="{{ViewedUser.id}}">Barátnak jelölés</button>
    {% elseif FriendsObject.getStatus() == 'selected' %}
        {% if FriendsObject.getUserB() == ViewedUser %}
            <button class="friend-mark-button remove friendMarking" userid="{{ViewedUser.id}}">Jelölés törlése</button>
        {% else %}  
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Barátnak jelölt <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" class="friendMarking" userid="{{ViewedUser.id}}" type="accept">Barátom (jelölés elfogadása)</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" class="friendMarking" userid="{{ViewedUser.id}}" type="reject">Nem a barátom (jelölés elutasítása)</a></li>
              </ul>
            </div>  
        {% endif %}
    {% else %}    
        Hiba!
    {% endif %}
{% endif %}
</div>
