{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}


{% block title %}Barátok{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('bundles/frontendaccount/css/friends-view.css')}}" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('bundles/frontendaccount/js/FriendsView.js')}}"></script>
{% endblock %}

{% block initJavascripts %}
    {{parent()}}
    FriendsView.init();
{% endblock %}

{% block bodyClass %}friends{% endblock %}


{% block body %}
{{parent()}}
{% endblock %}
{% block contentHolder %}
    <h2>Barátok</h2>
    {% render(controller('FrontendAccountBundle:Friends:getFriends')) %}
{% endblock %}