<div class="friend-object" userid="{{User.getId()}}">
    <div class="delete-holder" qtip-content="{{qtipcontent}}">&#215;</div>
    <div class="profile-name-holder">
        <a href="{{path('profile_show', {id : User.id})}}">{{User.userSettings.getName()}}</a>  
    </div>
    <div class="avatar-holder">
        {% set src = "" %}
        {% if User.userSettings.getAvatar() is null %}
            {% if User.userSettings.getGender() == 'male' or User.userSettings.getGender() is null %}
                {% set src = asset('images/default_profile_image_male.png') %}
            {% else %}
                {% set src = asset('images/default_profile_image_female.png') %}
            {% endif %}
        {% else %}
            {% set src = image(User.userSettings.getAvatar().getWebPath()).zoomCrop(100,100).jpeg %}
        {% endif %}
        <img src="{{src}}" alt="Avatár" />
    </div>
        {% if button is defined and button == 'accept' %}
            <span class="accept-friend"></span>
        {% endif %}
    <div class="profile-infos-holder"> 
    </div>
</div>