{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <form action="{{ path('security:registration') }}" name="form" method="POST" autocomplete="off" class="registration-form default-form">
            <div class="holders">
                <div class="leftHolder">
                    <div class="formLine">
                            <div class="labelText">{{ form_label(form.name) }}</div>
                            <div class="inputs">
                                    {{ form_widget(form.name) }}
                            </div>
                    </div>
                    <div class="formLine">
                            <div class="labelText">{{ form_label(form.email) }}</div>
                            <div class="inputs">
                                    {{ form_widget(form.email) }}
                            </div>
                    </div>
                    <div class="formLine">
                            <div class="labelText"></div>
                            <div class="inputs">
                                    {{ form_widget(form.password) }}
                            </div>
                    </div>
                </div>
                <div class="rightHolder">
                    <div class="formLine">
                            <div class="labelText">{{ form_label(form.nickname) }}</div>
                            <div class="inputs">
                                    {{ form_widget(form.nickname) }}
                            </div>
                    </div>
                    <div class="formLine">
                            <div class="labelText">{{ form_label(form.school) }}</div>
                            <div class="inputs">
                                    {{ form_widget(form.school) }}
                            </div>
                    </div>
                    <div class="errors" style="display:none">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="Regisztráció" class="registration-submit">
            </div>
	</form>
{% endif %}
