{% set userSettings = User.getUserSettings() %}
<span class="userHeaderElement">
    <span class="userName">{{userSettings.getName()}}</span>
    <span class="userImage">
        {% if userSettings.avatarId is null %}
            {% if userSettings.gender is null or userSettings.gender == 'male' %}
                <img src="{{asset('images/default_profile_image_male.png')}}">
            {% else %}
                <img src="{{asset('images/default_profile_image_female.png')}}">
            {% endif %}
        {% else %}
             <img src="{{image(userSettings.getAvatar().getWebPath()).zoomCrop(30,30).jpeg}}">
            {# ide jön az avatar majd ha lesz!!! #}
        {% endif %}
    </span>
    <div class="userHeaderqtip" style="display: none;">
        <li class="settings"><a href="{{path('settings_homepage')}}">Beállítások</a></li>
        <div class="line"></div>
        <li class="messages"><a href="#">Üzenetek</a></li>
        <div class="line"></div>
        <li class="friends"><a href="{{path('friends_index')}}">Barátok</a></li>
        <div class="line"></div>
        <li class="logout"><a href="{{path('fos_user_security_logout')}}">Kijelentkezés</a></li>
    </div>
</span>