{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/frontendindex/css/index.css') }}"/>
{% endblock %}

{% block indexScripts %}
	<script type="text/javascript" src="{{ asset('bundles/frontendlayout/js/NewPassword.js') }}?v={{ random(10000) }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			NewPassword.init();
		});
	</script>
{% endblock %}

<div class="changePass">
<h2>Jelszó megváltoztatása</h2>
	{% for key, message in app.session.getFlashes() %}
		<div class="{{ key }}">
			{{ message|trans({}, 'FOSUserBundle') }}
		</div>
	{% endfor %}
	<form action="{{ path('fos_user_change_password') }}" id="changePasswordForm" {{ form_enctype(form) }} method="POST" class="fos_user_change_password passwordchanger">
		{{ form_widget(form._token) }}

		<div class="formLine">
			<div class="labelText">Régi jelszó</div>
			<div class="inputs">
				{{ form_widget(form.current_password) }}
			</div>
		</div>

		<div class="formLine">
			<div class="labelText">Új jelszó</div>
			<div class="inputs">
				{{ form_widget(form.new.first, {'attr': {'class': 'firstpass'} }) }}
				<div id="firstErrorContainer" class="passwordCheck passwordError invisible">
					<div class="tooShort">A jelszó túl rövid!</div>
					<div class="tooEmpty hidden">Nem adtál meg új jelszót!</div>
				</div>
			</div>
			<div class="cf"></div>
		</div>
		<div class="formLine">
			<div class="labelText">Megerősítés</div>
			<div class="inputs">
				{{ form_widget(form.new.second, { 'attr': {'class': 'secondpass'} }) }}
				<div id="secondErrorContainer" class="passwordCheck passwordOk invisible">
					<div class="isMatch hidden">A jelszavak megegyeznek!</div>
					<div class="notMatch">A jelszavak nem egyeznek meg!</div>
					<div class="tooEmpty hidden">Meg kell erősítened az új jelszót!</div>
				</div>
			</div>
			<div class="cf"></div>
		</div>
		<div class="formLine">
			<div class="labelText">Jelszó erőssége: </div>
			<div class="inputs">
				<div class="passwordStrengthBg">
					<!--div id="passwordStrength0" class="strength cf"><div class="empty"></div><div class="empty"></div></div-->
					<div id="passwordStrength1" class="strength cf hidden"><div class="full last">Gyenge</div><div class="empty"></div><div class="empty"></div></div>
					<div id="passwordStrength2" class="strength cf hidden"><div class="full"></div><div class="full last">Közepes</div><div class="empty"></div></div>
					<div id="passwordStrength3" class="strength cf hidden"><div class="full"></div><div class="full"></div><div class="full">Erős</div></div>
				</div>
			</div>
			<div class="cf"></div>
		</div>
		<div class="formLine">
		<div class="info">A nehezen kitalálható jelszavak betűket és írásjeleket egyaránt tartalmaznak. A jelszónak legalább 6 karakter hosszúságúnak kell lennie.</div>
		</div>
	</form>
	<div class="formLine formLineBtn">
		<div class="inputs">
			<input formnovalidate="formnovalidate" type="submit" id="resetPass" class="sumbitAjaxForm validateForm redType" connectForm="changePasswordForm" value="Módosítom" />
		</div>
	</div>
</div>

