{% if User.getUserSettings() %}
    {% set userSettings = User.getUserSettings() %}
    {{userSettings.getName()}} adatainak megtekintése
    {% render(controller('FrontendAccountBundle:Friends:getFriendsButtons', {'viewedUser' : User})) %}
    <table>
        <tr>
            <th>Nem</th>
            <td>{{userSettings.getGenderHun()}}</td>
        </tr>
        <tr>
            <th>Születési dátum</th>
            <td>{{userSettings.getBirthDateToString()}}</td>
        </tr>
        <tr>
            <th>Regisztrált</th>
            <td>{{time_diff(User.getRegistrationTime())}}</td>
        </tr>
        <tr>
            <td>Feltöltött fájlok száma</td>
            <td>{{UploadedFilesCount}}</td>
        </tr>
    </table>
{% endif %}