<html>
    <head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="Tantárgy, tananyag, Huzynets Erik" />
        <meta name="robots" content="all">
        {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/jquery-1.10.2.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/own.jquery.js')}}"></script>
	 <script type="text/javascript" src="{{asset('js/jquery.foundation.reveal.js')}}"></script>
	<script src="{{ asset('bundles/frontendlayout/js/Shared.js') }}"></script>
        <script src="{{ asset('bundles/frontendlayout/js/Header.js') }}"></script>
        <script src="{{ asset('bundles/frontendlayout/js/AuthWindow.js') }}?v={{ random(2000) }}"></script>
        <script src="{{ asset('bundles/frontendlayout/js/InfoPopUp.js') }}?v={{ random(2000) }}"></script>
       <script>
                $(document).ready(function(){
                    // init objects
                    Shared.init();
                    Shared.defaultProfileImageFemale = "{{asset('images/default_profile_image_female.png')}}";
                    Shared.defaultProfileImageMale = "{{asset('images/default_profile_image_male.png')}}";
               
                    Shared.loadingHtmlImage = "<img src='{{asset('images/loading1.gif')}}' class='loading'>";
                    Header.searchURL = "{{path('search_ajax')}}";
                    AuthWindow.init();
                    
                    AuthWindow.getRevealUrl = "{{path('get_auth_window_ajax')}}";
                    AuthWindow.emalCheckUrl = "{{path('security:email-check')}}";
                    AuthWindow.nicknameCheckUrl = "{{path('security:nickname-check')}}";
                });
            </script>
        {% endblock %}
        {% block stylesheets %}
           <link rel="stylesheet"  href="{{ asset('css/reset.css') }}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/shared.css') }}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/header.css') }}" />
           <link rel="stylesheet"  href="{{ asset('css/foundation.css') }}" />
        {% endblock %}
    {% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="page">
            <div class="headerHolder">
                {% block headerHolder %}
                    {% render controller('FrontendLayoutBundle:Header:getHeader') %}
                {% endblock %}
            </div>
            <div class="contentHolder">
                {% block contentHolder %}
                {% endblock %}
            </div>
            <div class="bottomHolder">
                {% block bottomHolder %}

                {% endblock %}
            </div>
        </div>
        {% include 'FrontendLayoutBundle:Widgets:sharedRevealModals.html.twig' %}
        {% include 'FrontendLayoutBundle:Widgets:reveal.infoWindow.html.twig' %}
    {% endblock %}
    </body>
</html>