<html>
    <head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="Tantárgy, tananyag, Huzynets Erik" />
        <meta name="robots" content="all">
        
        <LINK REL="SHORTCUT ICON" HREF="{{asset('images/favico.png')}}">
        
        {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/jquery-1.10.2.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/jquery.qtip.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/own.jquery.js')}}"></script>
	 <script type="text/javascript" src="{{asset('js/jquery.foundation.reveal.js')}}"></script>
	 <script type="text/javascript" src="{{asset('js/jquery.timer.js')}}"></script>
	<script src="{{ asset('bundles/frontendlayout/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/frontendlayout/js/Shared.js') }}"></script>
        <script src="{{ asset('bundles/frontendsearch/js/Search.js') }}"></script>
        <script src="{{ asset('bundles/frontendlayout/js/Header.js') }}"></script>
        <script src="{{ asset('bundles/frontendaccount/js/AuthWindow.js') }}?v={{ random(2000) }}"></script>
        <script src="{{ asset('bundles/frontendlayout/js/InfoPopUp.js') }}?v={{ random(2000) }}"></script>
        <script src="{{ asset('bundles/frontendaccount/js/FriendsShared.js') }}?v={{ random(2000) }}"></script>
        <script type="text/javascript" src="{{asset('js/jquery-ui.js')}}"></script>
        <script>
                $(document).ready(function(){
                    {% block initJavascripts %}
                    // init objects
                    Shared.init();
                    Shared.defaultProfileImageFemale = "{{asset('images/default_profile_image_female.png')}}";
                    Shared.defaultProfileImageMale = "{{asset('images/default_profile_image_male.png')}}";
                    Shared.visitActionUrl = "{{path('visit_refresh')}}";
                    Shared.uploadAvatarUrl = "{{path('avatar_upload_ajax')}}";
                  
                    Shared.loadingHtmlImage = "<img src='{{asset('images/loading1.gif')}}' class='loading'>";
                 AuthWindow.init();
                    
                    AuthWindow.getRevealUrl = "{{path('get_auth_window_ajax')}}";
                    AuthWindow.emalCheckUrl = "{{path('security:email-check')}}";
                    AuthWindow.nicknameCheckUrl = "{{path('security:nickname-check')}}";
                    
                    FriendsShared.addOrRemoveURL = "{{path('friends_add_or_remove')}}";
                    FriendsShared.init();
                    
                    Search.init();
                    {% endblock %}
                });
            </script>
        {% endblock %}
        {% block stylesheets %}
           <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}" />
            <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/shared.css') }}" />
            <link rel="stylesheet"  href="{{ asset('bundles/frontendsearch/css/search.css') }}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/popup.css') }}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/bootstrap.min.css') }}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/bootstrap-theme.css') }}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/header.css') }}?rnd={{random(100)}}" />
           <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/form.css') }}" />
            <link rel="stylesheet"  href="{{ asset('bundles/frontendlayout/css/customQtip.css') }}" />
            <link rel="stylesheet"  href="{{ asset('bundles/frontendaccount/css/friends-shared.css') }}" />
           <link rel="stylesheet"  href="{{ asset('css/foundation.css') }}" />
           <link rel="stylesheet"  href="{{ asset('css/jquery.qtip.min.css') }}" />
        {% endblock %}
    {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div id="bodyBg"></div>
    {% block body %}
        <div class="page {% block pageClass %}no-background{% endblock %}">
            <div class="visitorsCount rightTab">
                {% render controller('FrontendLayoutBundle:Default:visit') %}
            </div>
            <div class="downloadsCount rightTab">
                <small>Letöltések :</small> {% render controller('FrontendLayoutBundle:Default:getAllDownloadsCount') %}
            </div>
            <div class="headerHolder">
                {% block headerHolder %}
                    {% render controller('FrontendLayoutBundle:Header:getHeader') %}
                {% endblock %}
            </div>
            <div class="contentHolder">
                {% block rightHolder %}
                    <div class="rightFlashInfos">
                        {% render(controller('FrontendLayoutBundle:Top:getTopFiles')) %}
                        {% render(controller('FrontendLayoutBundle:Top:getTopUsers')) %}
                    </div>
                {% endblock %}
                {% block contentHolder %}
                {% endblock %}
            </div>
            <div class="bottomHolder">
                {% block bottomHolder %}
                    {% include 'FrontendLayoutBundle:Default:bottom.html.twig' %}
                {% endblock %}
            </div>
        </div>
        {% include 'FrontendLayoutBundle:Widgets:sharedRevealModals.html.twig' %}
        {% include 'FrontendLayoutBundle:Widgets:reveal.infoWindow.html.twig' %}
    {% endblock %}
    </body>
</html>